.landing-container {
  min-height: 700px;
  flex-direction: row;
  flex: 1;
}
.ui.cards.landing-container-card {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.ui.card.landing-card {
  width: 100%;
}
.ui.big.image.landing-image {
  margin: 35px;
}
.ui.button.landing-header-button-enter {
  margin-top: 30px;
  margin-left: calc(50% - 150px);
}
