html,
body {
  background-color: #f2f3f7 !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.App-content {
  padding: 8px 16px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.ui.card.App-card {
    border-radius: 2px;
    border: none;
    box-shadow: none;
}

.Chart-bg-azure,
.ui.card.Chart-bg-azure {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  color: #FFF
}

.Chart-bg-purplefun,
.ui.card.Chart-bg-purplefun {
  background-image: linear-gradient(to top, #aca2d8 0%, #a0a5d0 100%);
  color: #FFF
}

.Chart-bg-bluefun,
.ui.card.Chart-bg-bluefun {
  background-image: linear-gradient(to top, #42b9f5 0%, #2db0f7 100%);
  color: #FFF
}

.Chart-bg-greenfun,
.ui.card.Chart-bg-greenfun {
  background-image: linear-gradient(to top, #0de4b1 0%, #1dc5e9 100%);
  color: #FFF
}

.ui.card.Chart-card-wrapper .content .card-content-wrapper {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.content .card-content-wrapper .header {
  font-size: 1.5em;
}

.Chart-card-wrapper.Chart-bg-azure .header,
.Chart-card-wrapper.Chart-bg-azure .meta,
.ui.card.Chart-card-wrapper.Chart-bg-azure .header,
.ui.card.Chart-card-wrapper.Chart-bg-azure .content .header,
.ui.card.Chart-card-wrapper.Chart-bg-azure .meta {
  color: #FFF;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
