html,
body {
  background-color: #f2f3f7 !important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.App-content {
  padding: 8px 16px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ui.card.App-card {
    border-radius: 2px;
    border: none;
    box-shadow: none;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
